.root {
	-fx-font-family: "Arial";
}

#frame {
	-fx-background-color: white;
}

#container {
}

#username, #password {
}

#subheader {
}

#header {
	-fx-background-color: #F8F8F8;
}

#headerText {
	 -fx-font-size: 12pt;
	 -fx-text-fill: #808080;
}

#close {
	
}