.root {
	-fx-font-family: "Arial";
	-fx-background-color: white;
}

.header {
	-fx-background-color: #F8F8F8;
}

.headerText {
	 -fx-font-size: 12pt;
	 -fx-text-fill: #808080;
}

.minimizeButton {
	
}

.closeButton {
	
}

.subheaderText {
	
}

.usernameField {
	
}
.passwordField {
	
}
.loginButton {
	
}